.customColumn {
    display: flex;
    align-items: center;
}

.customColumn p {
    margin: 10px;
}

body {
    color: #333;
    background-color: #f0f0f0;
}

.customRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
    transition: all 0.7s ease-in;
}

.customColumn > img:hover {
    background-color: #333;
    color: #f0f0f0;
    transform: scale(1.04);
    border-radius: 25px;
    box-shadow: 5px 5px #f0f0f0;
}

.customColumn {
    padding-top: 30px;
    flex: 33.33%;
}
